.container
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

.main
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

.img
  transform: scale(0.7);

.faIcon
  color: white;
  cursor: pointer;

.arrows
  position: absolute;
  top: 40%;
  flex-direction: row;
  justify-content: space-between;

  span
    color: white
