WHITE = #FFFFFF;
LIGHT-GRAY = #FAFAFA;
HUE-GRAY = #dbdbdb;
DARK-BLACK = #000000


.header
  display: flex;
  background-color: WHITE;
  border-bottom: 1px solid HUE-GRAY;
  height: 77px;
  margin-bottom: 20px;

.container
  padding: 5px 250px 0px 250px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

.searchInputImitation
  background-color: LIGHT-GRAY;
  border: 1px solid HUE-GRAY;
  width: 215px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

.a
  text-decoration: none;
  color: DARK-BLACK;
  margin-right: 10px

.notifications
  display: flex;
  flex-direction: row;
  justify-content: space-around;
