WHITE = #FFFFFF;
LIGHT-GRAY = #FAFAFA;
HUE-GRAY = #dbdbdb;
DARK-BLACK = #000000

.container
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

.itemHeader
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: WHITE;
  border: 1px solid HUE-GRAY;
  padding: 15px;

.thumbnail
  width: 30px;
  height: 30px;
  border-radius: 30px;

.img
  width: 600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: 1px solid gray;
