WHITE = #FFFFFF;
LIGHT-GRAY = #FAFAFA;
HUE-GRAY = #dbdbdb;
DARK-BLACK = #000000

.container
  position: absolute;
  background-color: WHITE;
  border: 1px solid HUE-GRAY;
  display: flex;
  top: 80px;
  min-height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
