WHITE = #FFFFFF;
LIGHT-GRAY = #FAFAFA;
HUE-GRAY = #dbdbdb;
DARK-BLACK = #000000

.itemFooter
  background-color: WHITE;
  border: 1px solid HUE-GRAY;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  padding: 15px;


.likesCount
  margin-right: 10px;

.commentBox
  border: 0px;
  outline-color: transparent;

  &:focus
    outline-color: transparent;
